@app.route("/create-template", methods=["GET", "POST"])
@login_required
def create_template():

    if request.method == "POST":

        try:
            print("=== FORM ===", dict(request.form))
            print("=== FILES ===", request.files)

            name = request.form.get("name")
            desc = request.form.get("desc")
            link = request.form.get("link")

            file = request.files.get("image")

            print("NAME:", name)
            print("FILE:", file)

            image_path = ""

            if file:
                print("FILENAME:", file.filename)

            if file and file.filename:
                filename = secure_filename(file.filename)
                save_path = os.path.join(app.config["UPLOAD_FOLDER"], filename)

                print("SAVE PATH:", save_path)

                file.save(save_path)
                image_path = "/static/uploads/" + filename

            conn = db()

            conn.execute("""
                INSERT INTO templates (name, description, image, link, author)
                VALUES (?,?,?,?,?)
            """, (
                name,
                desc,
                image_path,
                link,
                current_user.username
            ))

            conn.commit()
            conn.close()

            return redirect("/templates")

        except Exception as e:
            import traceback
            print(traceback.format_exc())
            return f"ERROR: {str(e)}", 500

    return render_template("create-template.html")
