{% extends "base.html" %}

{% block content %}

<a href="/create-template" class="btn blue mb-4">
    + Create Template
</a>

<div class="grid grid-cols-3 gap-6">

{% for t in templates %}

<div class="card p-5">

    <div class="text-xl font-bold">
        {{ t.name }}
    </div>

    <div class="text-gray-400 text-sm mt-2">
        {{ t.desc }}
    </div>

    <div class="text-xs mt-3 text-gray-500">
        by {{ t.author }}
    </div>

    <a href="/use-template/{{ t.id }}" class="btn blue mt-4">
        Use Template
    </a>

</div>

{% endfor %}

</div>

{% endblock %}
